﻿
@{
    ViewBag.Title = "DostupneManifestacije";
    Layout = null;
}



<head>
    <title>Dostupne manifestacije</title>
    <style>
        body {
            background-image: url('../../Slike/ticket.jpg');
        }

        #div1 {
            background-color: darksalmon;
        }

        #buttonSaznaj {
            background-color: cornflowerblue;
        }
    </style>
</head>
<body>
    <h1 style="background-color:aliceblue">Spisak dostupnih manifestacija:</h1>
    @foreach (var item in ViewBag.manifestacija.Values)
    {
        if (item.DaLiJeObrisana == false && item.Status == ViewBag.status)
        {
            <div id="div1">
                <p><b>Naziv manifestacije:</b> <i>@item.Naziv </i></p>
                <p><b>Tip manifestacije:</b> <i>@item.TipManifestacije </i></p>
                <p><b>Vreme pocetka odrzavanja:</b> <i> @item.DatumiVremeOdrzavanja </i></p>
                <p><b>Mesto odrzavanja:</b> <i>@item.MestoOdrzavanja.UlicaiBrojGradPostanskiBroj </i></p>
                <input type="button" value="Saznaj vise" id="buttonSaznaj" onclick="location.href='@Url.Action("IndexProfil", "Kupac", new { id = (int)@item.Id })'" />
            </div>
        }
    }
    <a href="@Url.Action("Index","LogovanKorisnik")">Vrati se nazad</a>
</body>
