﻿
@{
    ViewBag.Title = "KomentariOdobreni";
    Layout = null;
}

<head>
    <title>Komentari</title>
    <style>
        body {
            background-image: url('../../Slike/ticket.jpg');
        }

        #div1 {
            background-color: darksalmon;
        }

        #buttonPrihvacanje {
            background-color: cornflowerblue;
        }
    </style>
</head>
<body>
    <h1 style="background-color:aliceblue">Spisak komentara:</h1>
    @foreach (var item in ViewBag.komentari.Values)
    {

        if (item.DaLiJeIzbrisan == false)
        {
            <div id="div1">
                <p><b>ID manifestacije:</b> <i>@item.Manifestacija.Id </i></p>
                <p><b>Komentar:</b> <i>@item.TekstKomentara </i></p>
                <p><b>Ocena:</b> <i>@item.Ocena </i></p>
                <p><b>Prihvacen:</b> <i>@item.DaLiJePrihvacen </i></p>

            </div>
        }

    }
    <a href="@Url.Action("Index", "LogovanKorisnik")">Vrati se nazad</a>
</body>



