﻿
@{
    ViewBag.Title = "ProfilManifestacije";
    Layout = null;
}
<head>
    <title>Profil korisnika</title>
    <style>
        body {
            background-image: url('../../Slike/ticket.jpg');
        }

        img {
            border-radius: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 300px;
            height: 300px;
        }

        p {
            text-align: center;
        }

        #div1 {
            background-color: cornflowerblue;
            margin-left:auto;
            margin-right:auto;
        }

        input {
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: antiquewhite;
            width: 150px;
            height: 30px;
        }
    </style>
</head>
<body>
    <div id="div1">
        <img src="~/Slike/@ViewBag.profil.PosterURL" />
        <p><b>NAZIV: </b> <i>@ViewBag.profil.Naziv</i></p>
        <p><b>TIP: </b> <i>@ViewBag.profil.TipManifestacije</i></p>
        <p><b>BROJ MESTA: </b> <i>@ViewBag.profil.BrojMesta</i></p>
        <p><b>DATUM I VREME ODRZAVANJA </b> <i>@ViewBag.profil.DatumiVremeOdrzavanja</i></p>
        <p><b>DATUM I VREME ZAVRSETKA: </b> <i>@ViewBag.profil.DatumiVremeZavrsetka</i></p>
        <p><b>CENA REGULARNE KARTE: </b> <i>@ViewBag.profil.CenaREGULARKarte</i></p>
        <p><b>STATUS: </b> <i>@ViewBag.profil.Status</i></p>
        <p><b>MESTO ODRZAVANJA: </b> <i>@ViewBag.profil.MestoOdrzavanja.UlicaiBrojGradPostanskiBroj</i></p>
        <input type="button" value="Rezervisi karte" onclick="location.href='@Url.Action("IndexSNeRez","Kupac", new { id = (int)ViewBag.profil.Id })'" />
        <br />
    </div>
</body>




