﻿
@{
    ViewBag.Title = "RezervisaneKarte";
    Layout = null;
}


<head>
    <title>Rezervisane karte</title>
    <style>
        body {
            background-image: url('../../Slike/ticket.jpg');
        }

        #div1 {
            background-color: darksalmon;
        }

        #buttonOdustani {
            background-color: cornflowerblue;
        }
    </style>
</head>
<body>
    <h1 style="background-color:aliceblue">Spisak karata koje su rezervisane:</h1>
    @foreach (var item in ViewBag.spisak.Values)
    {
        <div id="div1">
            <p><b>Tip:</b> <i>@item.TipKarte</i></p>
            <p><b>Cena:</b> <i>@item.Cena </i></p>
            <p><b>Status:</b> <i> @item.StatusKarte </i></p>
            <input type="button" value="Odustani" id="buttonOdustani" onclick="location.href='@Url.Action("Odustani", "Kupac", new { id = (int)@item.Id })'" />
        </div>
    }
    <a href="@Url.Action("Index", "LogovanKorisnik")">Vrati se nazad</a>
</body>
