﻿
@{
    ViewBag.Title = "RezProslihMan";
    Layout = null;
}

<head>
    <title>Komentar</title>
    <style>
        body {
            background-image: url('../../Slike/ticket.jpg');
        }

        #div1 {
            background-color: darksalmon;
        }

        #buttonKomentar {
            background-color: cornflowerblue;
        }
    </style>
</head>
<body>
    <h1 style="background-color:aliceblue">Spisak manifestacija na kojima mozete ostaviti komentar:</h1>

    @foreach (var item in ViewBag.prosle.Values)
    {

        <div id="div1">
            <p><b>Naziv:</b> <i>@item.Naziv</i></p>
            <p><b>Tip manifestacije:</b> <i>@item.TipManifestacije</i></p>
            <p><b>Mesto odrzavanja:</b> <i>@item.MestoOdrzavanja.UlicaiBrojGradPostanskiBroj </i></p>
            <input type="button" value="Dodaj komentar" id="buttonKomentar" onclick="location.href='@Url.Action("IndexKomentar", "Komentar", new { id = (int)@item.Id })'" />
        </div>

    }

    <a href="@Url.Action("Index", "LogovanKorisnik")">Vrati se nazad</a>


</body>


