﻿
@{
    ViewBag.Title = "SpisakNeRezKarata";
    Layout = null;
}



<head>
    <title>Nerezerisane karte</title>
    <style>
        body {
            background-image: url('../../Slike/ticket.jpg');
        }

        #div1 {
            background-color: darksalmon;
        }

        #buttonRezervisi {
            background-color: cornflowerblue;
        }
    </style>
</head>
<body>
    <h1 style="background-color:aliceblue">Spisak karata koje jos uvek nisu rezervisane:</h1>
    @foreach (var item in ViewBag.spisak.Values)
    {
       
            <div id="div1">
                <p><b>Tip:</b> <i>@item.TipKarte</i></p>
                <p><b>Cena:</b> <i>@item.Cena </i></p>
                <p><b>Status:</b> <i> @item.StatusKarte </i></p>
                <input type="button" value="Rezervisi" id="buttonRezervisi" onclick="location.href='@Url.Action("RezervisiKartu", "Kupac", new { id = (int)@item.Id })'" />
            </div>
        
    }

</body>
