﻿
@{
    ViewBag.Title = "Uspesno";
    Layout = null;
}
<head>
    <title>Greska!</title>
    <style>
        p {
            background-color: green;
            text-align: center;
            color: white;
            font-size: larger;
            margin-top: 20%;
        }

        body {
            background-color: white;
        }
    </style>
</head>
<body>
    <p><b>@ViewBag.dobro</b></p>
</body>



