﻿
@{
    ViewBag.Title = "ZaduzenjaIBodovi";
    Layout = null;
}

<head>
    <title>Bodovi i zaduzenja</title>
    <style>
        body {
            background-image: url('../../Slike/ticket.jpg');
        }

        p {
            text-align: center;
        }

        #div1 {
            background-color: cornflowerblue;
            margin-left: auto;
            margin-right: auto;
        }

       
    </style>
</head>
<body>
    <div id="div1">
        <p><b>BODOVI: </b> <i>@ViewBag.bodovi</i></p>
        <p><b>ZADUZENJE: </b> <i>@ViewBag.zaduzenje</i> rsd</p>
        <br />
    </div>
    <a href="@Url.Action("Index", "LogovanKorisnik")">Vrati se nazad</a>
</body>


