﻿
@{
    ViewBag.Title = "Index";
}

@{
    Layout = null;
}

<head>
    <title>Dobrodosli!</title>
    <style>
        body {
            background-image: url('../../Slike/ticket.jpg');
        }
        form {
            background-color:aliceblue;
            height: 300px;
            width: 500px;
            display: inline-block;
        }
        #div1 {
            display: block;
            text-align: center;
        }
        #div2 {
            margin-left:auto;
        }
        input {
            height: 50px;
            width: 400px;
            border-style: solid;
        }
        h1{
            text-align:center;
        }
        #ulogujSeButton{
            text-align:center;
            background-color:deepskyblue;
        }
        p{
            text-align:center;
            background-color:beige;
            font-size:larger;
        }
    </style>
</head>
<body>
    <h1 style="color: aliceblue">Dobrodosli na sajt za rezervaciju ulaznica!</h1>
    <div id="div1">
        <form class="form-element" method="post" action="/Register/LogovanjeKorisnika">
            <br />
            <br />
            <br />
            <input type="text" name="KorisnickoIme" placeholder="Korisnicko ime" id="korisnickoIme" />
            <br />
            <br />
            <br />
            <input type="password" name="Lozinka" id="sifraKorisnika" placeholder="Sifra" />
            <br />
            <br />
            <br />
            <input id="ulogujSeButton" type="submit" value="Uloguj se"/>
        </form>
    </div>
    <div id="div2">
       <p>Jos uvek nemas nalog? <a href="@Url.Action("Index","Register")">Registruj se</a></p> 
       <p>Ovde mozes videti aktuelne manifestacije koje ce se odrzati ---> <a href="@Url.Action("Index","ManifestacijeSpisak")">Pogledaj manifestacije</a></p>
    </div>
</body>
