﻿
@{
                /**/

                ViewBag.Title = "LogovanKorisnikKupac";
                Layout = null;
}

<head>
    <title>Kupac</title>
    <style>
        h1 {
            background-color: aliceblue;
            text-align: center;
        }

        body {
            background-image: url('../../Slike/ticket.jpg');
        }

        p {
            background-color: aliceblue;
            font-size: larger;
            text-align: center;
        }

        input {
            background-color: deepskyblue;
            text-align: center;
            height: 50px;
            width: 500px;
            margin-left: 30%;
        }
    </style>
</head>
<body>
    <h1>Kupac: @ViewBag.registrovan.Ime</h1>
    <p>Izaberite opciju:</p>
    <input type="button" value="Profil" onclick="location.href='@Url.Action("Index","Profil")'" />
    <input type="button" value="DOSTUPNE MANIFESTACIJE" onclick="location.href='@Url.Action("Index","Kupac")'" />
    <input type="button" value="REZERVISANE KARTE" onclick="location.href='@Url.Action("IndexRezKarte","Kupac")'" />
    <input type="button" value="ZADUZENJE I BODOVI" onclick="location.href='@Url.Action("IndexZaduzenja","Kupac")'" />
    <input type="button" value="DODAJ KOMENTAR" onclick="location.href='@Url.Action("KarteKojimaJeManProsla","Kupac")'" />
    <input type="button" value="KOMENTARI" onclick="location.href='@Url.Action("OdobreniKomentari","Kupac")'" />
    <input type="button" value="Log out" onclick="location.href='@Url.Action("Index","Entering")'" />
</body>