﻿
@{
    ViewBag.Title = "LogovanKorisnikAdministrator";
    Layout = null;
}
<head>
    <title>Administrator</title>
    <style>
        h1{
            background-color:aliceblue;
            text-align:center;
        }
        body {
            background-image: url('../../Slike/ticket.jpg');
        }
        p{
            background-color:aliceblue;
            font-size:larger;
            text-align:center;
        }
        input {
            background-color: deepskyblue;
            text-align: center;
            height: 50px;
            width: 500px;
            margin-left:30%;
        }
    </style>
</head>
<body>
    <h1>Administrator: @ViewBag.registrovan.Ime</h1>
    <p>Izaberite opciju:</p>
    <input type="button" value="DODAJ PRODAVCA" onclick="location.href='@Url.Action("Index","Admin")'" />
    <input type="button" value="Profil" onclick="location.href='@Url.Action("Index","Profil")'" />
    <input type="button" value="MANIFESTACIJE" onclick="location.href='@Url.Action("Index1","Admin")'" />
    <input type="button" value="KARTE" onclick="location.href='@Url.Action("IndexKarte","Admin")'" />
    <input type="button" value="KUPCI" onclick="location.href='@Url.Action("IndexKupci","Admin")'" />
    <input type="button" value="PRODAVCI" onclick="location.href='@Url.Action("IndexProdavci","Admin")'" />
    <input type="button" value="KOMENTARI" onclick="location.href='@Url.Action("Komentari","Admin")'" />
    <input type="button" value="Log out" onclick="location.href='@Url.Action("Index","Entering")'" />
</body>









