﻿
@{
    ViewBag.Title = "LogovanKorisnikProdavac";
    Layout = null;
}
<head>
    <title>Prodavac</title>
    <style>
        h1 {
            background-color: aliceblue;
            text-align: center;
        }

        body {
            background-image: url('../../Slike/ticket.jpg');
        }

        p {
            background-color: aliceblue;
            font-size: larger;
            text-align: center;
        }

        input {
            background-color: deepskyblue;
            text-align: center;
            height: 50px;
            width: 500px;
            margin-left: 30%;
        }
    </style>
</head>
<body>
    <h1>Prodavac: @ViewBag.registrovan.Ime</h1>
    <p>Izaberite opciju:</p>
    <input type="button" value="DODAJ MANIFESTACIJU" onclick="location.href='@Url.Action("Index","Prodavac")'" />
    <input type="button" value="PREGLED SVIH MANIFESTACIJA" onclick="location.href='@Url.Action("SveManifestacijeProdavca","Prodavac")'" />
    <input type="button" value="PRIHVATI KOMENTARE" onclick="location.href='@Url.Action("KomentariZaPrihvacanje","Prodavac")'" />
    <input type="button" value="PREGLED REZERVISANIH KARTI" onclick="location.href='@Url.Action("RezervisaneKarte","Prodavac")'" />
    <input type="button" value="KOMENTARI" onclick="location.href='@Url.Action("SveKom","Prodavac")'" />
    <input type="button" value="Profil" onclick="location.href='@Url.Action("Index","Profil")'" />
    <input type="button" value="Log out" onclick="location.href='@Url.Action("Index","Entering")'" />
</body>




