﻿
@{
    ViewBag.Title = "DodajManifestaciju";
    Layout = null;
}

<head>
    <title>Dodaj manifestaciju</title>
    <style>
         body {
            background-image: url('../../Slike/ticket.jpg');
         }
         form {
            background-color: aliceblue;
            height: 1100px;
            width: 700px;
            display: inline-block;
         }
        input {
            height: 50px;
            width: 400px;
            border-style: solid;
        }
        #radio1 {
            width: auto;
            height: auto;
        }

        #radio2 {
            width: auto;
            height: auto;
        }
        #radio3 {
            width: auto;
            height: auto;
        }
        #radio4 {
            width: auto;
            height: auto;
        }
        #div1 {
            display: block;
            text-align: center;
        }
        h1 {
            text-align: center;
            background-color: aliceblue;
        }
    </style>
</head>
<body>
    <h1>Unesi podatke manifestacije:</h1>
    <div id="div1">
        <form class="form-element" method="post" action="/Prodavac/DodajManifestaciju">
            <br />
            <br />
            <br />
            <input type="text" name="Naziv" placeholder="Naziv manifestacije" id="nazivManifestacije" />
            <br />
            <br />
            <p>Tip manifestacije:</p>
            <input id="radio1" type="radio" name="TipManifestacije" value="KONCERT" checked="checked" /> KONCERT &nbsp;
            <input id="radio2" type="radio" name="TipManifestacije" value="FESTIVAL" /> FESTIVAL &nbsp;
            <input id="radio3" type="radio" name="TipManifestacije" value="POZORISTE" /> POZORISTE &nbsp;
            <input id="radio4" type="radio" name="TipManifestacije" value="BIOSKOP" /> BIOSKOP &nbsp;
            <br />
            <br />
            <br />
            <input type="number" name="BrojMesta" id="brojMesta" placeholder="Broj mesta" min="3" max="9" />
            <br />
            <br />
            <br />
            <p>Datum i vreme odrzavanja:</p>
            <input type="datetime-local" name="DatumiVremeOdrzavanja" id="datumIVremeOdrzavanja" />
            <br />
            <br />
            <br />
            <p>Datum i vreme zavrsetka:</p>
            <input type="datetime-local" name="DatumiVremeZavrsetka" id="datumIVremeZavrsetka" />
            <br />
            <br />
            <br />
            <input type="number" name="CenaREGULARKarte" id="cenaRegularKarte" placeholder="Cena regularne karte u RSD" />
            <br />
            <br />
            <br />
            <input type="text" name="MestoOdrzavanja.UlicaiBrojGradPostanskiBroj" id="mestoOdrzavanja" placeholder="Ulica i broj/Grad/Postanski broj" />
            <br />
            <br />
            <br />
            <p>Poster manifestacije:</p>
            <input type="file" name="PosterURL" id="posterURL" multiple="multiple" />
            <br />
            <br />
            <br />
            <input id="dodajManifestacijuButton" type="submit" value="Dodaj" />
        </form>
    </div>
    <a href="@Url.Action("IndexProdavac", "LogovanKorisnik")">Vrati se nazad</a>
</body>


