﻿
@{
    ViewBag.Title = "KomentariZaPrihvacanje";
    Layout = null;
}

<head>
    <title>Komentari</title>
    <style>
        body {
            background-image: url('../../Slike/ticket.jpg');
        }

        #div1 {
            background-color: darksalmon;
        }

        #buttonPrihvacanje {
            background-color: cornflowerblue;
        }
    </style>
</head>
<body>
    <h1 style="background-color:aliceblue">Spisak komentara za prihvacanje:</h1>
    @foreach (var item in ViewBag.komentari.Values)
    {
        foreach(var i in ViewBag.manifestacije.Values)
        {
            if (item.DaLiJeIzbrisan == false && item.Manifestacija.Id == i.Id)
            {
    <div id="div1">
        <p><b>Naziv manifestacije:</b> <i>@item.Manifestacija.Id </i></p>
        <p><b>Komentar:</b> <i>@item.TekstKomentara </i></p>
        <p><b>Ocena:</b> <i>@item.Ocena </i></p>
        <p><b>Prihvacen:</b> <i>@item.DaLiJePrihvacen </i></p>
        <input id="buttonPrihvacanje" type="button" value="Odobri" onclick="location.href='@Url.Action("OdobriKomentar", "Prodavac", new { id = (int)@item.Id })'" />
        <input id="buttonPrihvacanje" type="button" value="Odbij" onclick="location.href='@Url.Action("OdbijKomentar", "Prodavac", new { id = (int)@item.Id })'" />
    </div>
            }
        }
    }

</body>


