﻿
@{
    ViewBag.Title = "ManifestacijeProdavca";
    Layout = null;
}

<head>
    <title>Dostupne manifestacije</title>
    <style>
        body {
            background-image: url('../../Slike/ticket.jpg');
        }

        #div1 {
            background-color: darksalmon;
        }

        #buttonIzmeni {
            background-color: cornflowerblue;
        }
    </style>
</head>
<body>
    <h1 style="background-color:aliceblue">Spisak dostupnih manifestacija:</h1>
    @foreach (var item in ViewBag.mojeManifestacije.Values)
    {
        if (item.DaLiJeObrisana == false)
        {
            <div id="div1">
                <p><b>Naziv manifestacije:</b> <i>@item.Naziv </i></p>
                <p><b>Tip manifestacije:</b> <i>@item.TipManifestacije </i></p>
                <p><b>Vreme pocetka odrzavanja:</b> <i> @item.DatumiVremeOdrzavanja </i></p>
                <p><b>Mesto odrzavanja:</b> <i>@item.MestoOdrzavanja.UlicaiBrojGradPostanskiBroj </i></p>
                <p><b>Aktivnost:</b> <i>@item.Status </i></p>
                <input id="buttonIzmeni" type="button" value="Izmeni" onclick="location.href='@Url.Action("Index1", "Prodavac", new { id = (int)@item.Id })'" />
            </div>
        }
    }
    <a href="@Url.Action("IndexProdavac", "LogovanKorisnik")">Vrati se nazad</a>
</body>


