﻿
@{
    ViewBag.Title = "DodajKupca";
    Layout = null;
}

<head>
<title>Dodavanje prodavca</title>
<style>
    body {
        background-image: url('../../Slike/ticket.jpg');
    }

    form {
        background-color: aliceblue;
        height: 700px;
        width: 500px;
        display: inline-block;
    }

    input {
        height: 50px;
        width: 400px;
        border-style: solid;
    }

    #div1 {
        display: block;
        text-align: center;
    }

    #radio1 {
        width: auto;
        height: auto;
    }

    #radio2 {
        width: auto;
        height: auto;
    }

    h1 {
        text-align: center;
        background-color: aliceblue;
    }
</style>
</head>
<body>
    <h1>Unesi podatke prodavca:</h1>
    <div id="div1">
        <form class="form-element" method="post" action="/Admin/DodajProdavca">
            <br />
            <br />
            <br />
            <input type="text" name="KorisnickoIme" placeholder="Korisnicko ime" id="korisnickoIme" />
            <br />
            <br />
            <br />
            <input type="password" name="Lozinka" id="sifraKorisnika" placeholder="Sifra" />
            <br />
            <br />
            <br />
            <input type="text" name="Ime" id="ImeKorisnika" placeholder="Ime" />
            <br />
            <br />
            <br />
            <input type="text" name="Prezime" id="sifraKorisnika" placeholder="Prezime" />
            <br />
            <br />
            <br />
            <p>Datum rodjenja:</p>
            <input type="date" name="DatumRodjenja" id="datumRodjenjaKorisnika" />
            <br />
            <br />
            <p>Pol:</p>
            <input id="radio1" type="radio" name="Pol" value="MUSKI" /> MUSKI &nbsp;
            <input id="radio2" type="radio" name="Pol" value="ZENSKI" checked="checked" /> ZENSKI
            <br />
            <br />
            <input id="dodajKupcaButton" type="submit" value="Dodaj" />
        </form>
        <a href="@Url.Action("IndexAdmin","LogovanKorisnik")">Vrati se nazad</a>
    </div>
</body>

