﻿
@{
    ViewBag.Title = "IzlistajKorisnike";
    Layout = null;
}
<head>
    <title>Kupci</title>
    <style>
        body {
            background-image: url('../../Slike/ticket.jpg');
        }

        #div1 {
            background-color: darksalmon;
        }
        #buttonObrisi {
            background-color: cornflowerblue;
        }
    </style>
</head>
<body>
    <h1 style="background-color:aliceblue">Spisak svih kupaca:</h1>
    @foreach (var item in ViewBag.kupci.Values)
    {
        if (item.DaLiJeObrisana == false)
        {
            <div id="div1">
                <p><b>Korisnicko ime:</b> <i>@item.KorisnickoIme </i></p>
                <p><b>Ime:</b> <i>@item.Ime </i></p>
                <p><b>Prezime: </b> <i>@item.Prezime</i></p>
                <input type="button" id="buttonObrisi" value="Obrisi" onclick="location.href='@Url.Action("ObrisiKupca", "Admin", new { korisnickoIme = (string)@item.KorisnickoIme })'" />
            </div>
        }
    }
    <a href="@Url.Action("IndexAdmin","LogovanKorisnik")">Vrati se nazad</a>
</body>



