﻿
@{
    ViewBag.Title = "IzlistajKarte";
    Layout = null;
}

<head>
    <title>Karte</title>
    <style>
        body {
            background-image: url('../../Slike/ticket.jpg');
        }

        #div1 {
            background-color: darksalmon;
        }

    </style>
</head>
<body>
    <h1 style="background-color:aliceblue">Spisak svih karata:</h1>
    @foreach (var item in ViewBag.karte.Values)
    {
        if (item.DaLiJeObrisana == false)
        {
            <div id="div1">
                <p><b>Naziv manifestacije kojoj karta pripada:</b> <i>@item.Manifestacija.Naziv </i></p>
                <p><b>Tip :</b> <i>@item.TipKarte </i></p>
                <p><b>Cena: </b> <i>@item.Cena</i></p>
                <p><b>Rezervisanost:</b> <i>@item.StatusKarte </i></p>
            </div>
        }
    }
    <a href="@Url.Action("IndexAdmin","LogovanKorisnik")">Vrati se nazad</a>
</body>


