﻿
@{
    ViewBag.Title = "DodajKomentar";
    Layout = null;
}

<head>
    <title>Bodovi i zaduzenja</title>
    <style>
        body {
            background-image: url('../../Slike/ticket.jpg');
        }

       

        #div1 {
            background-color: cornflowerblue;
            margin-left: auto;
            margin-right: auto;
        }
        input{
            margin-left:auto;
            margin-right:auto;
        }
    </style>
</head>
<body>
    <div id="div1">
       <form method="post" action="/Komentar/DodajKomentar">
        <p><b>KOMENTAR: </b></p>
        <input type="text" style="height: 200px; width: 300px;" name="TekstKomentara" id="TekstKomentara" />
        <p><b>OCENA:</b></p>
        <input type="number" max="5" min="1" name="Ocena" id="Ocena"/>
           <br/>
           <br/>
        <input type="hidden" value="@ViewBag.id" name="Manifestacija.Id"/>
        <input type="submit" value="Dodaj komentar" />
       </form>
    </div>
</body>


