﻿
@{
    ViewBag.Title = "Manifestacije";
    Layout = null;
}
 <head>
        <title>Dostupne manifestacije</title>
        <style>
            body {
                background-image: url('../../Slike/ticket.jpg');
            }
            #div1{            
                background-color:darksalmon;

            }
            #buttonSaznaj {
                background-color:cornflowerblue;
            }
        </style>
 </head>
 <body>
        <h1 style="background-color:aliceblue">Spisak dostupnih manifestacija:</h1>
        @foreach(var item in ViewBag.sortiranRecnikManifestacija.Values)
        {
            if (item.DaLiJeObrisana == false)
            {
            <div id="div1">
                <p><b>Naziv manifestacije:</b> <i>@item.Naziv </i></p>
                <p><b>Tip manifestacije:</b> <i>@item.TipManifestacije </i></p>
                <p><b>Vreme pocetka odrzavanja:</b> <i> @item.DatumiVremeOdrzavanja </i></p>
                <p><b>Mesto odrzavanja:</b> <i>@item.MestoOdrzavanja.UlicaiBrojGradPostanskiBroj </i></p>
            </div>
            }
        }

 </body>
