﻿
@{
    ViewBag.Title = "GreskaEditovanja";
    Layout = null;
}

<head>
    <title>Greska!</title>
    <style>
        p {
            background-color: red;
            text-align: center;
            color: white;
            font-size: larger;
            margin-top: 20%;
        }

        body {
            background-color: white;
        }
    </style>
</head>
<body>
    <p><b>@ViewBag.greska</b></p>
    <a href="@Url.Action("Index1","Profil")">Vrati se nazad</a>
</body>


