﻿
@{
    ViewBag.Title = "MenjajProfil";
    Layout = null;
}

<head>
    <title>Izmeni podatke</title>
    <style>
        body {
            background-image: url('../../Slike/ticket.jpg');
        }

        form {
            background-color: aliceblue;
            height: 700px;
            width: 500px;
            display: inline-block;
        }

        input {
            height: 50px;
            width: 400px;
            border-style: solid;
        }

        #div1 {
            display: block;
            text-align: center;
        }

        #radio1 {
            width: auto;
            height: auto;
        }

        #radio2 {
            width: auto;
            height: auto;
        }

        h1 {
            text-align: center;
            background-color: aliceblue;
        }
    </style>
</head>
<body>
    <h1>Promeni svoje podatke:</h1>
    <div id="div1">
        <form class="form-element" method="post" action="/Profil/IzmeniPodatkeKorisnika">
            <br />
            <br />
            <br />
            <input type="text" name="KorisnickoIme" placeholder="Korisnicko ime" id="korisnickoIme" value="@ViewBag.ulogovan.KorisnickoIme"/>
            <br />
            <br />
            <br />
            <input type="password" name="Lozinka" id="sifraKorisnika" placeholder="Sifra" value="@ViewBag.ulogovan.Lozinka" />
            <br />
            <br />
            <br />
            <input type="text" name="Ime" id="ImeKorisnika" placeholder="Ime" value="@ViewBag.ulogovan.Ime" />
            <br />
            <br />
            <br />
            <input type="text" name="Prezime" id="sifraKorisnika" placeholder="Prezime" value="@ViewBag.ulogovan.Prezime"  />
            <br />
            <br />
            <br />
            <p>Pol:</p>
            <input id="radio1" type="radio" name="Pol" value="MUSKI" /> MUSKI &nbsp;
            <input id="radio2" type="radio" name="Pol" value="ZENSKI" checked="checked"/> ZENSKI
            <br />
            <br />
            <input id="IzmeniPodatke" type="submit" value="Izmeni podatke" />
        </form>
    </div>
</body>

