﻿
@{
    ViewBag.Title = "ProfilKorisnika";
    Layout = null;
}

<head>
    <title>Profil korisnika</title>
    <style>
        body {
            background-image: url('../../Slike/ticket.jpg');
        }

        img {
            border-radius: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 300px;
            height: 300px;
        }
        p{
            text-align:center;
            
        }
        #div1 {
            background-color: cornflowerblue;
        }
        input {
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color:antiquewhite;
            width:150px;
            height:30px;
        }
    </style>
</head>
<body>
    <div id="div1">
        <img src="~/Slike/profile.png" />
        <p><b>KORISNICKO IME: </b> <i>@ViewBag.ulogovan.KorisnickoIme</i></p>
        <p><b>IME: </b> <i>@ViewBag.ulogovan.Ime</i></p>
        <p><b>PREZIME: </b> <i>@ViewBag.ulogovan.Prezime</i></p>
        <p><b>DATUM RODJENJA: </b> <i>@ViewBag.date</i></p>
        <p><b>POL: </b> <i>@ViewBag.ulogovan.Pol</i></p>
        <input type="button" value="Izmeni profil" onclick="location.href='@Url.Action("Index1","Profil")'" />
        <br/>
    </div>
</body>

